header,
footer {
  background-color: cyan;
  display: block;
}

nav,
article,
aside {
  background-color: orange;
}

.column {
  float: left;
  width: 33%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}